body {
    background-image: url("../images/background.png"); /* Ajuste o caminho conforme necessário */
    background-size: cover; /* Para cobrir toda a tela */
    background-repeat: no-repeat; /* Para não repetir a imagem */
    background-position: center center; /* Centralizar a imagem */
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }